.row
  .medium-6.columns.small-centered.text-center
    %h1= @user.org_name
    %p= @user.description
    %hr

    - if @user.open?
      %p We're open! Swing by.
    - else
      %p We're closed. Check back later.